annotated-types @ file:///work/perseverance-python-buildout/croot/annotated-types_1728386958747/work
anyio @ file:///croot/anyio_1745334642479/work
certifi==2025.4.26
charset-normalizer==3.4.2
click @ file:///croot/click_1744271578095/work
docopt==0.6.2
fastapi @ file:///io/buildout/croot/fastapi_1735845387481/work
h11 @ file:///croot/h11_1748442006460/work
httpcore==1.0.9
httpx==0.28.1
idna @ file:///work/perseverance-python-buildout/croot/idna_1728385935861/work
iniconfig==2.1.0
joblib @ file:///work/perseverance-python-buildout/croot/joblib_1728392999985/work
mkl-service==2.4.0
mkl_fft @ file:///io/mkl313/mkl_fft_1730824109137/work
mkl_random @ file:///io/mkl313/mkl_random_1730823916628/work
numpy @ file:///croot/numpy_and_numpy_base_1747238018250/work/dist/numpy-2.2.5-cp313-cp313-linux_x86_64.whl#sha256=0e0751551faf5084bae97319f1019238122ff4a3eefee4d271cdc73fe7ee20eb
nvidia-nccl-cu12==2.26.5
packaging==25.0
pandas==2.2.3
pipreqs==0.4.13
pluggy==1.6.0
pydantic @ file:///croot/pydantic_1734736067156/work
pydantic_core @ file:///croot/pydantic-core_1734726052986/work
pytest==8.3.5
python-dateutil==2.9.0.post0
pytz==2025.2
requests==2.32.3
scikit-learn @ file:///croot/scikit-learn_1737988764076/work
scipy @ file:///croot/scipy_1747238027288/work/dist/scipy-1.15.3-cp313-cp313-linux_x86_64.whl#sha256=ef0f7946c766acf9935b91f06cb7735ddb4890c85109a813e5ea260749c68c5c
setuptools==72.1.0
six==1.17.0
sniffio @ file:///work/perseverance-python-buildout/croot/sniffio_1728386342155/work
starlette @ file:///io/perseverance-python-buildout/croot/starlette-recipe_1731704598518/work
threadpoolctl @ file:///croot/threadpoolctl_1731006087558/work
typing_extensions @ file:///croot/typing_extensions_1734714854207/work
tzdata==2025.2
urllib3==2.4.0
uvicorn @ file:///croot/uvicorn-split_1732660726596/work
wheel==0.45.1
yarg==0.1.10
